<div>    
    <div class="container">
        <div class="row">
            <div class="col-md-12 padding-top-sm">
                <h5>Welcome to the landing view of the Bowling Manager app!</h5>
                <welcome-User name="Allen"></welcome-User>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 padding-top-md">
                <img class="img-responsive img-rounded img-header" src="../../Content/Images/pins.jpg" alt="bowler"/>
            </div>
        </div>
    </div>

</div>
