<div>

    <!--Bootstrap Container exists on default HTML view housing any grid system elements in this view-->
    <div class="padding10">

        {{ error }}

        <div class="container-fluid">

            <form role="form"
                  autocomplete="off"
                  novalidate>

                <div class="row">
                    
                    <div class="col-xs-2">
                        <div class="row">
                        <!-- Single button style dropdown -->
                            <div class="btn-group col-xs-12" dropdown is-open="status.isopen">
                                <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
                                    Select a League <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="league in leagues">
                                        <a href="#" is-open="status.isopen" id="{{league.Id}}" ng-click="showGridData($event, league)">{{league.Name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-10 padding-left-0">
                        <button type="button" class="btn btn-default btn-md" ng-click="addLeague()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add League
                        </button>
                    </div>

                </div>

            </form>


            <!--Add Bootstrap class that will make the grid responsive-->
            <div class="table-responsive padding10">
                <div class="gridStyle" ng-grid="gridOptions">

                </div>
            </div>

        </div>

    </div>

</div>
